.text-field-c {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4375em;
	letter-spacing: 0.00938em;
}
.text-field-c_label {
	color: rgba(0, 0, 0, 0.6);
	padding: 0;
	display: block;
	transform-origin: top left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 24px);
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translate(14px, 16px) scale(1);
	-moz-transform: translate(14px, 16px) scale(1);
	-ms-transform: translate(14px, 16px) scale(1);
	transform: translate(14px, 16px) scale(1);
	-webkit-transition:
		color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
		-webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
		max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition:
		color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
		transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
		max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	z-index: 1;
	pointer-events: auto;
}
.text-field-c_input-container {
	box-sizing: border-box;
	cursor: text;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	border-radius: 4px;
}
.text-field-c_input {
	font: inherit;
	letter-spacing: inherit;
	color: inherit;
	padding: 4px 0 5px;
	border: 0;
	box-sizing: content-box;
	background: white;
	height: 1.4375em;
	margin: 0;
	display: block;
	width: 100%;
	padding: 16.5px 14px;
	outline: 0;
}
.text-field-c_fieldset {
	pointer-events: none;
	position: absolute;
	bottom: 0;
	right: 0;
	top: -5px;
	left: 0;
	margin: 0;
	padding: 0 8px;
	overflow: hidden;
	border-radius: inherit;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.23);
	text-align: left;
	outline: 0;
}
.text-field-c_legend {
	padding: 0;
	height: 11px;
	font-size: 0.75em;
	visibility: hidden;
	max-width: 0.01px;
	-webkit-transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	white-space: nowrap;
}
.text-field-c_legend_span {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}

/*---------------------------------------------------------------value setted styles-------------------------------------------------------------*/

.text-field-c:hover .text-field-c_fieldset {
	border-color: black;
}

/*---------------------------------------------------------------value setted styles-------------------------------------------------------------*/

.text-field-c.setted .text-field-c_label {
	max-width: calc(133% - 32px);
	-webkit-transform: translate(14px, -9px) scale(0.75);
	-moz-transform: translate(14px, -9px) scale(0.75);
	-ms-transform: translate(14px, -9px) scale(0.75);
	transform: translate(14px, -9px) scale(0.75);
}
.text-field-c.setted .text-field-c_legend {
	max-width: 100%;
}

/*---------------------------------------------------------------focus styles-------------------------------------------------------------*/

.text-field-c.focus .text-field-c_label {
	max-width: calc(133% - 32px);
	-webkit-transform: translate(14px, -9px) scale(0.75);
	-moz-transform: translate(14px, -9px) scale(0.75);
	-ms-transform: translate(14px, -9px) scale(0.75);
	transform: translate(14px, -9px) scale(0.75);
	color: #1976d2;
}
.text-field-c.focus .text-field-c_legend {
	max-width: 100%;
}
.text-field-c.focus .text-field-c_fieldset {
	border-color: #1976d2;
	border-width: 2px;
}
